<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Pick A Grade</title>
  <meta property="og:title" content="Grade: {{grade}}" />
  <meta property="og:description" content="{{wittyText}}"/>
  <link href="/styles/base.css" rel="stylesheet" />
  <link href="/styles/card.css" rel="stylesheet" />
  <link href="/styles/witty.css" rel="stylesheet" />
</head>
<body>
  <div class="card">{{grade}}</div>
  <div class="witty">{{wittyText}}</div>
</body>
</html>
